.form-control{
  width: 70%;
  display: flex;
  margin-left: 20px;
  height: auto;
}

label{
  margin-left: 20px;
}

.submit-button{
  margin-left: 20px;

}

.btn-info{
  background-color: limegreen;
  color: white;
  border-color: limegreen;
}

select.form-control option:first-child{
  color: grey;
  font-style: italic;
}
