body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

img {
    width: 400px;
    height: auto;
    background: lightgray;
}

p {
    max-width: 400px;
    text-align: left;
}
