main
{
    display: grid;
    justify-content: center;
    margin-block: 1em;
}
#title
{
    text-align: center;
    margin-bottom: 2em;
}
#info
{
    margin-inline: 25%  ;
    background-color: #D9D9D9;
    text-align: center;
}