<header class="header_temp">
  <p id="logo">Logo</p>
  <nav>
    <a routerLink="/create-rutine" class="enlaces">link1</a>
    <a routerLink="/edit-rutine" class="enlaces">link2</a>
    <a routerLink="/pro-rutine" class="enlaces">link3</a>
  </nav>
  <div id="buttons">
    <div id="buttons-login">
      <button class="logs" routerLink="/register">link1</button>
      <button class="logs" routerLink="/login">link2</button>
    </div>
    <img id="foto_perf" src="/imagen_vertical.png" routerLink="/profile">
  </div>
</header>


