<header class="header_temp">
  <p id="logo">Logo</p>
  <nav>
    <a routerLink="create-rutine" class="enlaces">link1</a>
    <a routerLink="edit-rutine" class="enlaces">link2</a>
    <a routerLink="pro-rutine" class="enlaces">link3</a>
  </nav>
  <div id="buttons">
    <div id="buttons-login">
      <button class="logs" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/register.html')">link1</button>
      <button class="logs" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/login.html')">link2</button>
    </div>
    <img id="foto_perf" src="/Resources/imagen_vertical.png" onclick="location.replace('http://localhost:63342/PWM-Fitness-App/Pages/profile.html')">
  </div>
</header>


