<app-header/>
<main>
  <div class="buttons">
    <button>Mes</button>
    <button>Año</button>
  </div>
  <div class="rectangles">
    <div class="sub" id="subscription"></div>
    <div class="sub" id="subscription2"></div>
    <div class="sub" id="subscription3"></div>
  </div>
  <div class="questions">
    <div class="half-right">
      <table>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
        <tr>
          <th>Nunc luctus ex at ex.</th>
        </tr>
      </table>
    </div>
    <div class="half-left">
    </div>
  </div>
</main>
<app-footer/>
