#icon {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;
    border: 1px black solid;
}

.rectangle {
    width: 650px;
    height: 450px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    margin: 30px auto;
}
h1{
    text-align: center;
}
