
/*412 px to 1280 px*/
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .description-box {
        width: 100%;
        height: 18em;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }
}

/* under 412 px*/
@media screen and (max-width: 25.75em) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .description-box {
        width: 100%;
        height: 18em;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }
}

