main
{
    display: grid;
    justify-content: center;
    margin-block: 1em;
}
#title
{
    text-align: center;
    font-size: 1.2em;
}
#ejercicios
{
    display: grid;
    margin-block: 1em;
}
#ejercicios div
{
    margin-block: 0.1em;
}