
/*412 px to 1280 px*/
@media screen and (min-width: 25.75em) and (max-width: 80em) {



}

/* under 412 px*/
@media screen and (max-width: 25.75em) {
    .footer_texts {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .footer_temp {
        gap: 10px;
        padding: 10px;
    }

    /* Logo + círculos en la misma línea */
    .footer_temp > div:first-child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_temp > div:first-child > section {
        flex: none;
        text-align: center;
    }

    .footer_temp > div:first-child > section h2 {
        font-size: 1.2em;
        text-align: center;
        margin: 0 auto;
    }

    /* Círculos (ya están en div > div por defecto) */
    .footer_temp > div:last-child {
        flex-direction: column-reverse;
        align-items: center;
        background-color: #e0e0e0;
        padding: 10px 0;
        gap: 10px;
    }

    nav {
        justify-content: center;
        gap: 15px;
    }

    nav a {
        font-size: 0.75em;
        color: black;
    }

    /* Reducción del tamaño de los círculos */
    .footer_temp > div:last-child > div span {
        width: 20px;
        height: 20px;
        background-color: black;
        border: none;
        border-radius: 50%;
    }
}