
/*412 px to 1280 px*/
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    .rectangles {
        display: flex;
        gap: 0.625em;
    }

    .buttons {
        display: flex;
        gap: 0.625em;
        margin-top: 2.5em;
    }

    .questions {
        width: 93.75em;
        height: 31.25em;
        margin-bottom: 1em;
    }

    .half-right {
        width: 46.875em;
        height: 31.25em;
        float: right;
    }

    .half-left {
        width: 46.875em;
        height: 31.25em;
        float: left;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    th {
        text-align: left;
        padding: 0.5em;
        font-size: 0.6em;
    }

    p {
        margin-bottom: 0.625em;
    }

}




/* under 412 px*/
@media screen and (max-width: 25.75em) {
    .rectangles, .buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .questions {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .half-right, .half-left {
        width: auto;
        height: auto;
        padding: 1em;
    }

    th {
        text-align: center;
        font-size: 0.5em;
        width: 100%;
    }
}