/* 412 px to 1280 px */
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    #imagenes {
        width: 51em;
        height: 16em;
        margin-left: 0;
    }
    .text-box {
        width: 40em;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        margin-left: 6em;
    }
    .text-box p {
        margin-inline: 5em;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

/* under 412 px */
@media screen and (max-width: 25.75em) {
    #imagenes {
        width: 17em;
        height: 7em;
    }


    .text-box {
        width: 14em;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
        margin-left: 0.5em;
    }

    .text-box p {
        margin-inline: 1em;
        font-size: 1em;
        padding: 0.5em;
    }
}
