/* 412 px to 1280 px */
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    #imagenes {
        width: 40em; /* Controla el tamaño con em */
        height: auto; /* Mantiene la proporción */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .text-box p {
        margin-inline: 5em;
        font-size: 1.5em;
    }
}

/* under 412 px */
@media screen and (max-width: 25.75em) {
    #imagenes {
        width: 40em; /* Controla el tamaño con em */
        height: auto; /* Mantiene la proporción */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .text-box {
        padding-inline: 0.5em;
    }

    .text-box p {
        margin-inline: 1em;
        font-size: 1.2em;
        padding: 0.5em;
    }
}
