/* 412 px to 1280 px */
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    .wrapper {
        max-width: 90%; /* Hace que el contenedor sea más flexible */
        padding: 15px;
    }

    .input-box input {
        padding: 8px;
        font-size: 1em; /* Ajusta el tamaño del texto */
    }

    .input-box input[type="submit"] {
        padding: 10px;
        font-size: 1.1em;
    }
}

/* Menos de 412 px */
@media screen and (max-width: 25.75em) {
    .wrapper {
        max-width: 100%;
        padding: 10px;
    }

    .wrapper h2 {
        font-size: 1.2em; /* Reduce el tamaño del título */
    }

    .input-box input {
        padding: 6px;
        font-size: 0.9em;
    }

    .input-box input[type="submit"] {
        padding: 8px;
        font-size: 1em;
    }
}
