/* 1280 px to 1440 px*/
@media screen and (min-width: 80em) {
    .header_temp {
        background: linear-gradient(to bottom, magenta, mediumblue);
    }



}
/*412 px to 1280 px*/
@media screen and (min-width: 25.75em) and (max-width: 80em) {
    .header_temp {
        background: linear-gradient(to bottom, greenyellow, mediumblue);
    }


}

/* under 412 px*/
@media screen and (max-width: 25.75em) {
    .header_temp {
        background: linear-gradient(to bottom, rebeccapurple, mediumblue);
    }
    .logs{
        visibility: hidden;
    }
}