
/*412 px to 1280 px*/
@media screen and (max-width: 25.75em) {
    .header_temp {
        height: 3.5em;   /* Altura de la cabecera */
        width: auto;
    }

    nav {
        visibility: hidden;
    }

    .logs {
        visibility: hidden;
    }

    #logo {
        font-size: 1.5em; /* Tamaño del logo */
        text-align: left;
        margin-top: 0.5em;
        margin-left: 0.75em;
    }

    #buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        top: 0.5em;
        right: 0;
    }

    #foto_perf {
        height: 2em;
        width: 2em;
        border-radius: 10em;
        top: 1em;
        right: 1em;
        margin-right: 17em;
    }
}
