/* 412 px to 1280 px */
@media screen and (min-width: 25.75em) and (max-width: 80em) {


    .text-box p {
        margin-inline: 5em;
        font-size: 1.5em;
    }
}

/* under 412 px */
@media screen and (max-width: 25.75em) {
    #imagenes {
        width: 12em;
        height: 7em;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }


    .text-box {
        width: 10em;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 5em;
    }

    .text-box p {
        margin-inline: 1em;
        font-size: 1em;
        padding: 0.5em;
    }
}
