
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 100px;
}

.exercise-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.description-box {
    width: 100%;
    height: 350px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn {
    background-color: white;
    border: 2px solid black;
}

.save-btn {
    background-color: cornflowerblue;
    color: white;
}
